<style>
  body {
      font-family: 'Latin Modern Roman', 'Liberation Serif', Garamond, Palatino, Georgia, serif;
      line-height: 1.3;
      font-size: 25px;
      /* main colors */
      background-color: white;
      color: black;
      /* margin of text */
      /* max-width: 100 px; */
      margin: 5%;
  }
  pre {
      line-height: 1.1;
  }
  /* headers */
  h1, h2, h3, h4, h5, h6 {
      /* text-align: center; */
      color: #2A6099;
  }
  /* emphasis */
  em, i {
      color: red;
  }
  /* list marker */
  li::marker, dt {
      color: red;
      font-weight : normal;
  }
  /* list unsorted */
  ul {
      line-height: 1.0;
      list-style-type: square;
  }
  /* code inline */
  code {
      font-family: 'Latin Modern Mono', 'Liberation Mono', mono;
      background-color: #EFEFEF;
      border-radius: 5px;
  }
  /* code in block */
  pre {
      font-family: 'Latin Modern Mono', 'Liberation Mono', mono;
      background-color: #efefef;
      padding: 10px;
      border-radius: 5px;
  }
  /* imagen */
  img {
      max-width: 50%;                            /* La imagen no excederá el ancho del contenedor */
      height: 50%;                               /* La altura se ajustará automáticamente según el ancho */
      transition: transform 0.3s ease-in-out;    /* Ejemplo de transición de transformación */
      border-radius: 1px;                        /* Ejemplo de bordes redondeados */
      display: block;                            /* Asegura que la imagen sea tratada como un bloque */
      margin: 0 auto;                            /* Centra horizontalmente la imagen */
  }
  /* mouseimage mouse over */
  img:hover {
      transform: scale(1.05);           /* Aumento de tamaño al pasar el cursor */
  }
  .reveal h1,
  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6 {
      text-align: center;
      color: #2A6099;
      word-wrap: normal;
      -webkit-hyphens: manual;
      -moz-hyphens: manual;
      hyphens: manual;
  }

 .date {  display: none; }
</style>
